
/apoio
/backup
/files
/fonts
/help
/images/otimiza
/images/cliente/Etiqueta
/lib
/licenses
/menu.app
/panels
/tools
/web

*.bkp.ignore
*.connect.ini

*.exe
*.jar
*.ini

/options/otm_suite.myo
/options/OTM_ETIQUETAS.MYO
/options/OTM_DESENVOLVIMENTO.MYO
/options/OTM_FINANCEIRO.MYO
/options/OTM_SUPRIMENTOS.MYO
/options/OTM_CADASTRO.MYO
/options/OTM_ITENS_DESC.MYO
/options/OTM_FATURAMENTO.MYO
/options/OTM_MANUFATURA1.MYO
/options/OTM_REPRESENTANTE.MYO
/options/OTM_PLANEJAMENTO.MYO
/options/OTM_WMS.MYO

/queries/cli/Comercial/acomp_promessa_entrega.MKQ
/queries/cli/Comercial/cadastro_metas.MKQ
/queries/cli/Comercial/capacidade_prom.MKQ
/queries/cli/Comercial/com_analise_forecast.MKQ
/queries/cli/Comercial/manut_promessa_entrega_semana - Copia.MKQ
/queries/cli/Comercial/manut_promessa_entrega_semana.MKQ
/queries/cli/Comercial/manut_promessa_entrega.MKQ
/queries/cli/Comercial/MetaFatur.MKQ
/queries/cli/Comercial/painel_promessa_entrega - Copia.MKQ
/queries/cli/Comercial/painel_promessa_entrega_n.MKQ
/queries/cli/Comercial/painel_promessa_entrega_sem - Copia.MKQ
/queries/cli/Comercial/painel_promessa_entrega_sem_n.MKQ
/queries/cli/Comercial/painel_promessa_entrega_sem.MKQ
/queries/cli/Comercial/painel_promessa_entrega.MKQ
/queries/cli/Comercial/prev_venda_item.MKQ
/queries/cli/Comercial/prev_venda.MKQ
/queries/cli/Comercial/promessa_entrega.MKQ
/queries/cli/Comercial/promessa_nao_atend.MKQ
/queries/cli/Desenvolvimento
/queries/cli/Faturamento
/queries/cli/Financeiro
/queries/cli/Etiquetas
/queries/cli/Item_desc
/queries/cli/Manufatura
/queries/cli/Planejamento
/queries/cli/Produtos
/queries/cli/Representantes
/queries/cli/Suprimentos
/queries/cli/WMS
/queries/cli/Desenvolvimento/Backups

/queries/includes
/queries/modelos
/queries/otm_prod
/queries/system

*.ignore

readme-1.md